<!DOCTYPE html>
<html>
  <head>
    <title>Rails7Sandbox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render Common::HeaderComponent.new() %>
    <main class="container mx-auto mt-28">
      <% flash.each do |type, data| %>
        <%= render Alerts::AlertComponent.new(type: type, data: data) %>
      <% end %>
      <%= yield %>
    </main>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
